* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.Filter {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.item_filter {
    width: 100%;
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
}

.left_filter {
    width: 30%;
    border: 1px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 70px;
}

.item_left_filter {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drop_menu {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}




.main_filter {
    width: 70%;
    border: 1px solid black;
    height: 100%;
}